.Gradientbtn{    
    background: linear-gradient(90deg, #0805ef, #28a6ef);
    padding: 9px 18px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.link{
    text-decoration: none;
color: aliceblue;

}

  
  @media (max-width: 768px) {
    .Gradientbtn {
      font-size: 0.875rem; /* Smaller font for small screens */
      padding: 0.4rem 0.8rem;
    }
  }
  