
a.active{
    text-decoration: underline;
        color: red;
    }

    .link{
        text-decoration: none;
    color: aliceblue;
    
    }
    
          @media (max-width: 768px) {
            .Login button{
              font-size: 0.875rem; /* Smaller font for small screens */
              padding: 0.4rem 0.8rem;
            }
          }
          
    